<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "webautomationsuite">

<parameter name ="browser" value="chrome"/>
<test name = "PaymentGatewayTest" >

<classes>
<class name="ApplicationPagesTestCases.PaymentPageTest"/>





</classes>






</test>

</suite>